
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
body,html{
	background: #eee;
	height: 100%;
	font-family: 'Lato', sans-serif;
}	

body{
	padding-top: 0px;
}

.image-bg-fluid-height {
	background: url('../img/rocky.jpg') no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.navbar{
	background:transparent; 
	padding: 30px;
}
.navbar-brand{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 40px;
	color: #fff !important;
}

.ion-navicon{
	font-size: 50px;
	color: #fff;
}

.navbar-toggle{
	margin-top: -20px;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
   	}

}


.sidebar-nav{
    margin-top: -530px;
    margin-left: 100px;
    position: fixed;
}

.sidebar-nav ul{
    list-style-type: none;
}

.sidebar-nav ul li{
    margin: 40px;
}

.sidebar-nav ul li a i{
    font-size: 30px;
    color: #fff;
}

.smooth-container{
    height: 100%;
    padding: 90px 0px;
}

.about-section{
    background: #e74c3c;
   
}

.skills-section{
    background: #d35400;
}

.section-title{
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
}

.section-content{
    background: ;
    color: #fff;
}

.section-content p{
    font-weight: 300;
    font-size: 16px;
}

.work-section{
    background: #f1c40f;
}
